    .container {
      display: flex;
      flex-direction: column;
      margin: auto;
    }

    body {
      display: flex;
    }

    /* heading style css code */
    h5 {
      color: #2E8B57;
      position: relative;
      font-size: 19px;
      z-index: 1;
      overflow: hidden;
      text-align: center;
      margin-bottom: 15px;
    }

    h5:before,
    h5:after {
      position: absolute;
      top: 51%;
      overflow: hidden;
      width: 50%;
      height: 1px;
      content: '\a0';
      background-color: #2E8B57;
    }

    h5:before {
      margin-left: -50%;
      text-align: right;
    }
/* box one and three style code  */
    .card {
      border: 1px solid #bfb8b8;
      border-radius: 7px;
      height: auto;
      width: 400px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      margin-bottom: 10px;
    }

    .card-three {
      margin-bottom: 20px;
    }

    .radio-btn {
      position: absolute;
      left: 30.5rem;
      top: 6rem;
    }

    .radio-btn1 {
      position: absolute;
      left: 30.5rem;
      top: 10.4rem;
    }

    .radio-btn2 {
      position: absolute;
      left: 30.5rem;
      top: 19.2rem;
    }

    .discount-price-second {
      display: flex;
      justify-content: space-around;
    }

    .discount-price {
      margin-left: 75px;
    }

   /* second box start */

    .card2 {
      border: 1px solid #2E8B57;
      background-color: #F5F5F5;
      border-radius: 7px;
      height: auto;
      width: 400px;
      padding: 10px;
      margin-bottom: 10px;
    }

    .pair-flex {
      display: flex;
      justify-content: space-around;
      margin-left: -10px
    }

    .box-cardSize {
      display: flex;
      margin-left: 21px;
      margin-top: 9px;
    }

    
    .box-three,
    .box-four {
      margin-left: 8px;
    }

    .price-off {
      margin-right: 33px
    }

    .ddk-price {
      margin-left: 30px;
    }

    .strick-inline-price {
      color: gray;
      font-size: 13px;
    }

    .size-drop {
      margin-left: 19px;
      margin-bottom: 2px;
    }
/* total amount style code */

    .total-amount-box {
      display: flex;
      justify-content: space-between;
    }

    /* buttn style code  */
    .button-cart {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }

    .add-btn {
      width: 400px;
      padding: 10px;
      color: white;
      border-color: #3CB371;
      background-color: #2E8B57;
      text-align: center;
      border-radius: 7px;
    }

    

    .copyright-div {
      display: flex;
      justify-content: end;
      margin-top: 3px;
    }

    strong {
      font-weight: 600;
    }
